* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}


:root {
    /* variables de color */
    --azul1: #345FB4;
    --azul2: #6789CA;
    --gris1: #313131;
    --gris2: #777777;
    --gris3: #a5a5a5;
    --negro1: #202020;

    /* TAMAÑOS DE FUENTE */
    --size-h1 : 3.6rem;
    --size-h2 : 3rem;
    --size-h3 : 2rem;
    --size-parrafo : 1.6rem;
    --size-parrafo2 : 1.8rem;
    --size-parrafo3 : 1.4rem;
}

/* DEFINICIÓN DE LAS SECCIONES*/
section{
    max-width: 37.5rem;
    height: auto;
    margin: auto;
    padding: 5rem 3rem;

    display: flex;
    flex-direction: column;
}