.movil{
    background: linear-gradient(313.78deg, #2855AE -3.15%, #7292CF 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
}

/****/

.section-school_imagen{
    margin-top: 20rem;
}
.logo{
    width: 12.6rem;
    margin-top: 16.1rem;
}


